*.o
*.lo
*.la
*.dirstamp
libtest
Makefile
clients/.deps/
clients/.libs/
clients/memcapable
clients/memcat
clients/memcp
clients/memdump
clients/memerror
clients/memexist
clients/memflush
clients/memparse
clients/memping
clients/memrm
clients/memslap
clients/memstat
config.h
config.log
config.status
docs/conf.py
example/.deps/
example/.libs/
example/memcached_light
libhashkit/.deps/
libhashkit/.libs/
libmemcached/.deps/
libmemcached/.libs/
libmemcached/csl/.deps/
libmemcached/protocol/.deps/
libmemcached/util/.deps/
libmemcachedinternal/.libs/
libtool
poll/.deps/
stamp-h1
support/libmemcached-fc.spec
support/libmemcached.pc
tests/.deps/
tests/.libs/
tests/atomsmasher
tests/c_sasl_test
tests/c_test
tests/cycle
tests/failure
tests/hash_plus
tests/internals
tests/memcapable
tests/memcat
tests/memcp
tests/memdump
tests/memerror
tests/memexist
tests/memflush
tests/memrm
tests/memslap
tests/memstat
tests/sasl
tests/testapp
tests/testhashkit
tests/testplus
tests/testudp
util/.deps/
